<%= form_with(model: @page) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <h1>Make a Frontpage</h1>
    <%= f.text_area :duration, placeholder: "Duration" %>
    <%= f.text_area :category, placeholder: "Category" %>
    <%# <%= f.collection_select(:page, :group_id, Group.all, :id, :name) %> %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>